<div class="letsdo" [class.done]="letsdo$.status">
  <div class="letsdo-content">
    <div class="handle">
      <img src="./assets/svg/drag.svg">
    </div>
    <div class="letsdo-content-check">
      <img *ngIf="!letsdo$.status"  (click)="checked($event)" src='./assets/svg/iconmonstr-checkbox-unchecked11.svg'>
      <img *ngIf="letsdo$.status"  (click)="checked($event)" src='./assets/svg/iconmonstr-checkbox-checked9.svg'>
    </div>
    <div class="letsdo-content-title">
      <input (blur)="changeLetsdo($event)" [(ngModel)]="letsdo$.label" type="text" placeholder="Names des LetsDo Elements">
    </div>
    <div (click)="deleteLetsdo($event)" class="delete">
      <span>Löschen</span>
    </div>
  </div>
</div>
