<div class="letsdo">
  <div class="letsdo-content">
    <div class="handle">
      <img src="./assets/svg/drag.svg">
    </div>
    <div class="letsdo-content-check">
      <img src='./assets/svg/iconmonstr-checkbox-unchecked11.svg'>
      <img src='./assets/svg/iconmonstr-checkbox-checked9.svg'>
    </div>
    <div class="letsdo-content-title">
      <input type="text" placeholder="Names des LetsDo Elements">
    </div>
    <div class="delete">
      <span>Löschen</span>
    </div>
  </div>
</div>
