<app-template-letsdo-header></app-template-letsdo-header>
<div class="list-view">
  <h4 (click)="letsdoShow=!letsdoShow">Offen <span>( 2 )</span></h4>
  <div *ngIf="letsdoShow" class='todo-elements'>
    <app-template-letsdo></app-template-letsdo>
    <app-template-letsdo></app-template-letsdo>
  </div>
  
  <app-template-letsdo-form *ngIf="letsdoShow"></app-template-letsdo-form>
  <h4  (click)="letsdoDoneShow=!letsdoDoneShow">Erledigt <span>( 2 )</span></h4>
  <div *ngIf="letsdoDoneShow"class="todo-elements">
      <app-template-letsdo></app-template-letsdo>
  </div>
</div>