@import  "../../../sass/_var"

.tudo-form
  widows: 100%
  margin: 0 0 $cube*2 0
  display: flex
  flex-flow: row
  justify-content: space-between
  align-items: stretch
  height: $cube*8
  .todo-content
    width: 100%
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-items: stretch
    input:
      font-family: $font2
      font-size: $cube*2
      padding: $cube*2
      color: $second
      background-color: $white
      width: 100%
      border: none
      word-break: break-word